<div class="footer">
	<p class="text-center">
		Desenvolvido pela MozDevz &copy; 2015 
		<span class="termos"><a href="#" data-toggle="modal" data-target="#termosCondicoes">Termos e condicoes</a></span>
	</p>
</div>