<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
    	<div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cmm-menu">
	    		<span class="sr-only">Navegacao Mobile</span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/">
	      	<img alt="Brand" src="/img/cmm-logo.png">
	      </a>
	    </div>
	    <div class="title">
	    	<h2>Painel de Administração</h2>
	    </div>

	     <div class="collapse navbar-collapse" id="cmm-menu">
			<ul class="nav navbar-nav" bs-active-link>
				<li><a href="/">Atribuir actividades</a></li>
				<li><a href="/relatorios">Relatorios</a></li>
				<li><a href="/usuarios">Usuarios</a></li>
				<li>
				<a href="/logout"><span class="glyphicon glyphicon-off sair" aria-hidden="true"></span>Sair</a>
				</li>
			</ul>
		</div>
	</div>
</nav>