<!DOCTYPE html>
<html>
  <head>
    <title>VuyaKaya</title>
	<% include partials/head %>   
  </head>
  <body>

	<div class="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
		    	<div class="navbar-header">
			      <a class="navbar-brand" href="/">
			      	<p>Vuya Kaya</p>
			      	<!-- <img alt="Brand" src="/img/cmm-logo.png"> -->
			      </a>
			    </div>

			     <div id="vk-menu">
					<ul class="nav navbar-nav" bs-active-link>
					<% if(logado != undefined ) {%>
						<li>
							<a href="/logout"><span class="glyphicon glyphicon-off sair" aria-hidden="true"></span>Sair</a>
						</li>
					<%}else {%>
						<li><a href="/pessoas/new">Criar conta</a></li>
						<li><a href="/login">Entrar</a></li>
					<%}%>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Profile Page -->
		<div class="container content">
			<form action="/pessoas" id="peopleSearch" method="POST" class="form-horizontal">
				<div class="input-group">
					<input type="text" name="searchVal" class="form-control" placeholder="Type the {user, region/city} you want to search">
					<span class="input-group-btn sbt">
						<button class="btn btn-default glyphicon glyphicon-search consultar-button" type="button" id="pesqPeople"></button>
					</span>
				</div>
			</form>

			<div class="conteudoProc  center-block" id="procResult" style="max-width: 800px">

				<% if(users.length < 1) {%>
					<p>Nao existem usuarios</p>
				<%}else{%>
					<table class="table">
						<tbody>
						<% for(var i = 0; i < users.data.length; i++) {%>
							<tr>
								<td>
								<a href="#" data-toggle="modal" data-target="#userDetails" class="detUser" valor="<%= 'Nome: '+users.data[i].name+'<br><br> Cidade: '+users.data[i].city+' - '+users.data[i].region+'<br><br> Descicao: '+ users.data[i].desc %>"><%= users.data[i].name %></a>
								</td>
								<td style="text-align: right;"><a href="#" data-toggle="modal" class="detUser" data-target="#userDetails" valor="<%= 'Nome: '+users.data[i].name+',<br> Cidade: '+users.data[i].city+' - '+users.data[i].region+',<br> Descicao: '+ users.data[i].desc %>"><%= users.data[i].city +" - "+ users.data[i].region %></a></td>
							</tr>
						<%}%>
						</tbody>
					</table>
				<%}%>
			</div>
		</div>

		<% include partials/footer %>

		<!-- Modals -->
			<div class="modal fade" id="userDetails" tabindex="-1" role="dialog" aria-labelledby="checkModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header text-center">
						</div>
						<div class="modal-body">
							<div id="detalhesuser">
								
							</div>
						</div>
						<div class="caption modal-footer text-center">
							<h3 class="text-center">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
							</h3>
						</div>
					</div>
				</div>
			</div>
	</div>
	<% include partials/script %>   
	<script src="/js/people.js"></script>
	<script>
		$(function(){
			$('.detUser').on('click', function(){
				var id = $(this).attr("valor");
				$('#detalhesuser').html(id);
			})
		});
		
	</script>
  </body>
</html>
 



